@import "../osivia/variables";

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  display: flex !important;
  flex-direction: column;
  flex-grow: 1;

  > .container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    > .row.no-gutters {
      flex-grow: 1;

      > :first-child > .rounded {
        @include border-right-radius($radius: 0 !important);
      }

      > :last-child > .rounded {
        border-top-left-radius: 0 !important;
      }
    }
  }
}


.portlet-container {
  #col-1 & {
    margin-bottom: 0;
  }
}
