

.rss{
	form{
		min-height:400px;
	}	}
	
$navy:    #2A3F52 !default;

$colors: (
  "navy": $navy
);

$theme-colors: (
  "navy": $navy
);

@import "../osivia/variables";
@import "../bootstrap/buttons";	

.btn-slider{
	border-radius: 0;
	font-size: 13px;
	text-align:left;
}

.btn-actif{
	border-color:$navy;
	border-width:0 0 0 8px;
}

.btn-style{
	margin-top:0 !important;
	border-top:0 !important;
}

.img-slider {
	min-width: 100%;
	min-height: 100%;
	max-width: 100%;
	max-height: 100%;
	object-fit:cover;	
	margin:0;
	padding:0;
	height: 200px;
}

.row-slider{
	height: 200px;
}

.text-slider{
/*	border: 1px solid $navy; 
*/	color: $navy;
	font-size: 13px;
	max-height: 100%;
    overflow: hidden;
	text-align:justify;
	padding-right:25px !important;
}

.liste-rss{
	line-height: 13px;
	min-height: 20px;
	display: inline-block;
	max-height: 38px;
	overflow: hidden;
	font-family: Helvetica,Arial,sans-serif;
}

.bx-wrapper .bx-viewport{
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

.bouton-image:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
    background-color: transparent;
    background-position : center center;
    background-repeat:no-repeat;
}

.monBouton:before{
     background-image : url(/toutatice-portail-acrennes-charte/img/infinity-navy.png);
}

.monBouton .a:hover .a:active{
	background-image : url(/toutatice-portail-acrennes-charte/img/infinity.png);
}

.bx-controls {
	.bx-pager {
		bottom: 5px;
		text-align:right !important;
		width: 100% !important;
		font-size:0;
		padding-right:10px;
	}
	.bx-controls-direction, .bx-controls-auto .bx-controls-auto-item{
		display:none;
	}	
}

